.favorites{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: blue;
    margin-bottom: 100px;
    
}